body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #A9DDD6;
  background: linear-gradient(37deg, rgba(169, 221, 214, 1) 0%, rgba(155, 160, 188, 1) 100%);
}

.container {
  background: rgb(255, 255, 255, .35);
  width: 90%;
  height: 600px;
  padding: 20px;
  border-radius: 15px;
}

.set1-group {
  display: block;
}